.the_firm {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 140px;
}
.the_firm > .firm_details {
  width: 100%;
}
.the_firm > .firm_details > p {
  font-size: 14px;
  line-height: 22px;
  font-family: var(--para-font);
  color: var(--font-color-two);
}

@media only screen and (max-width: 768px) {
  .the_firm {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 500px) {
  .contact_info > img {
    width: 171px;
  }
  .slider_p {
    font-size: 11.5px;
  }
}
@media only screen and (max-width: 400px) {
  .slider_p {
    font-size: 10px;
  }
}
